.idea
.DS_Store
*.egg*
__pycache__
*.fif
*.csv
*.png
*.svg
data/
figs/
experimental_code\expeco\instr\
*.rda
*.rds
*.npy
*.pkl
*.zip
analysis_code\untracked_analysis_scripts_behav\
analysis_code\untracked_analysis_scripts_eeg\